<div class="discuss">
	<div class="t"></div>
	<div class="c">
		<div class="content">
			<div class="heading">
				<h3>Discuss the Deal</h3>
			</div>
			<div class="txt">
				<img class="photo png" alt="image description" src="/media/images/img3.png" width="45" height="45" />
				<p>
					<a href="#" target="_blank">This was a great spa experience, would definitely go back!</a>
				</p>
				<span class="bg">&nbsp;</span>
			</div>
			<div class="btm-txt">
				<p>
					<a href="#" target="_blank">Join the Discussion</a>
				</p>
				<p>7 comments</p>
			</div>
		</div>
	</div>
	<div class="b"></div>
</div>