
<div class="sb-box business">
	<div class="t"></div>
	<div class="c">
		<div class="content">
			<strong class="title"><span>Get Your Business on</span> <img alt="{{ COMPANY_NAME }}" src="/media/images/logo4.gif" width="69"
				height="30" />
			</strong>
			<div class="business-txt">
				<img alt="image description" src="/media/images/ico-business.gif" width="48" height="40" />
				<p>
					<a href="#"><strong>Learn <span>More</span>
					</strong>
					</a> about how {{ COMPANY_NAME }} can help bring tons of customers to your door
				</p>
			</div>
		</div>
	</div>
	<div class="b"></div>
</div>