<div class="sb-box">
	<div class="t"></div>
	<div class="c">
		<div class="content">
			<h3>How {{ COMPANY_NAME }} Works</h3>
			<p>
				1. We feature an amazing deal in your city available for a limited time<br>
				<br> 2. You can only get the deal if enough people join the group - spread the word!<br>
				<br> 3. If enough people join you get a printable electronic voucher<br>
				<br> 4. Use the voucher to redeem your {{ COMPANY_NAME }}!<br>
			</p>
		</div>
	</div>
	<div class="b"></div>
</div>