<div class="sb-box">
	<div class="t"></div>
	<div class="c">
		<div class="content">
			<h2>Payment Questions?</h2>
			<p>
			<h4>What happens after I buy?</h4>
			Within a few minutes you'll receive an email receipt confirming that your card has been charged. Your receipt will describe how to print
			your MassiveCoupon, and your MassiveCoupon will include everything you need to know to redeem it. If the deal hasn't tipped yet, your
			receipt will arrive when it does. If the deal doesn't tip before time runs out, your card isn't charged and nobody gets the deal.
			</p>

			<p>
			<h4>What if I buy as a gift?</h4>
			When you buy a MassiveCoupon as a gift and choose to email it, an email will be sent to the recipient as soon as your card is charged,
			with all the instructions they need to claim their gift with a single click. If you chose to print your gift, you'll be able to do that
			on 'My Gifts' once your card has been charged.
			</p>

			<p>
			<h4>Can I change or cancel my purchase?</h4>
			Yes, you can modify your purchase up until the deal closes, as long as you haven't printed your MassiveCoupons - once you print, you can
			no longer change your purchase. You'll see all your purchases on 'My MassiveCoupons', with a link to 'Change my purchase' where
			appropriate.
			</p>

			<p>
			<h4>Is this safe?</h4>
			Extremely. This page is SSL encrypted (2048-bit) and all transactions are done through Paypal, the industry standard for internet
			payment. The little 'padlock' icon on your browser confirms this. At no time is your credit card information stored on our servers.
			</p>

		</div>
	</div>
	<div class="b"></div>
</div>