<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" />
	<title>{% block sub-title %}{{ WEBSITE_TITLE}}{% endblock %} - {% block title %}{{ COMPANY_NAME }}{% endblock %}</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="{% block metakeywords %}{{ page_metakeywords }}{% endblock metakeywords %}" name="Keywords"/>
    <meta content="{% block metadescription %}{{ page_metadescription }}{% endblock metadescription %}" name="Description"/>
    {% block metadata %}{% endblock metadata %}

    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/cupertino/jquery-ui-1.8.14.custom.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/all.css" />
    <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/lt8.css" /><![endif]-->

    {% block extralinks %}{% endblock extralinks %}
    {% block extracss %}{% endblock extracss %}
</head>

<body class="{% block body-class %}{% endblock %}">
	{% load engine_extras %}{% show_city_slider %}
	
	<div class="email-slider" style="display: none; overflow:hidden;">
	<form>Email</form>
	</div>
	   
	<div id="wrapper">
	{% block content_wrapper %}
	<div id="main">
		<div id="twocolumns">
			<div class="twocolumns-holder">
				<div id="content">
					<div class="box">
						<div class="box-t"></div>
						<div class="box-c">{% block content %}{% endblock %}</div>
						<div class="box-b"></div>
					</div>
					{% block extra-content %}{% endblock extra-content %}
				</div>
				<div id="sidebar">
				{% block sidebar %}
					{% include 'sidebar/_how_it_works.html' %}
				{% endblock sidebar %}
				</div>
			</div>
		</div>
		{% include "header.html" %}
	</div>
	{% endblock content_wrapper %}
	
	{% include "footer.html" %}            
	</div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.watermarkinput.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/massivecoupon.js"></script>
    <script language="javascript">
    $().ready(function() {
    	$("#user-msg-close").click(function () {
    		$("#user-msg-div").hide();
    		return false;
    	});
    	
    	$("#city-slider-link").click(function () {
    		$(".city-slider").slideToggle("slow");
    		return false;
    	});
    });
    </script>
	{% block extrajs %}{% endblock extrajs %}
</body>
</html>

