{% extends "base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="/media/js/jquery.countdown.js"></script>
{% endblock %}

{% block extrajs %}
    function CurrencyFormatted(amount)
    {
        var i = parseFloat(amount);
        if(isNaN(i)) { i = 0.00; }
        var minus = '';
        if(i < 0) { minus = '-'; }
        i = Math.abs(i);
        i = parseInt((i + .005) * 100);
        i = i / 100;
        s = new String(i);
        if(s.indexOf('.') < 0) { s += '.00'; }
        if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
        s = minus + s;
        return s;
    }

    function update_estimated_quote()
    {
      var total = 0;

      if( parseInt( $("#id_quantity").val() ) > 0 ) {
        total = parseFloat( {{ deal.deal_price }} * parseInt($("#id_quantity").val()) ) ;
      }

      $('#id_estimate').html('$' + CurrencyFormatted(total));

    }

    function submitForm(form)
    {
      $.Watermark.HideAll();
    }

    $().ready(function(){

      $("#id_quantity").keyup(function(){
        update_estimated_quote();
      });

      update_estimated_quote();
  });

{% endblock extrajs %}

{% block content %}
<form  class="dealcheckoutform" id="id_dealcheckoutform" method="POST" >{% csrf_token %}
	<h2 style="margin-top: 0px;">Your Purchase</h2>
	<div>
		<table>
			<tr style="font-size: 110%; font-weight: bold; color: #555;">
				<td style="height: 25px; width: 300px;">Description</td>
				<td style="width: 100px; text-align: center;">Quantity</td>
				<td style="width: 150px; text-align: center;">Price</td>
				<td style="width: 150px; text-align: center;">Total</td>
			</tr>
			<tr height="1" width="100%" background="/media/images/blue-pixel.png"><td colspan="4" height="1"></td></tr>
			<tr style="font-size: 130%; font-weight: bold; ">
				<td style="height: 50px;">{{ deal.advertiser }}</td>
				<td style="text-align: center;"><input style="font-size: 110%; text-align: center;" type="text" size="2" value="1" name="quantity" id="id_quantity"></td>
				<td style="text-align: center;"> x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ deal.deal_price }} (CAN)</td>
				<td style="text-align: center;">=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="id_estimate" style="color: #000; font-size: 170%;">$0.00</span></td>
			</tr>
			<tr height="1" width="100%" background="/media/images/blue-pixel.png"><td colspan="4" height="1"></td></tr>
		</table>
	</div>
	<img style="margin-top: 10px; width: 160px; float: right;" src="/media/images/securepaypal.jpg">

	<h1>Payment <img style="margin-top: 10px;" src="/media/images/lock-icon.png"></h1>
	<p>Your credit card will be charged and your massive coupon will be ready within 24hrs</p>
	<a href="#main-nav" class="accessibility">skip to main navigation</a>
	<div>
	{% if must_login_error %}
	<div class="error-box">
          	<div class="title">An account already exists for {{ must_login_email }}. Please sign in first.</div>
   	</div>
     {% endif %}
     {% if form.errors %}
     <div class="error-box">
     	<div class="title">There was a problem, please see the error messages below.</div>
     	<div>Please correct fields marked with a red box.</div>
 	</div>
 	{% endif %}
        	
	<div class="clearfix">
		<div style="font-weight: bold; font-size: 120%; margin-bottom: 10px;">Personal Information</div>
		<div class="user_left" style="width: 300px; float: left;">
			<div class="field"><label>Full Name:</label>{{ form.full_name }}<div class="error-msg">{% if form.errors.full_name %}Please enter your full name{% endif %}</div></div>
			<div class="passwd_field"><span style="float:left; width: 140px;"><label style="display: block;">Password:</label>{{ form.password }}</span><span style="float:left;"><label style="display: block;">Password (confirm):</label>{{ form.password_verify }}</span><div class="error-msg">{% if form.errors.password %}{{ form.errors.password }}{% endif %}</div></div>
			<div class="field"><label>Email:</label>{{ form.email }}<div class="error-msg">{% if form.errors.email %}Please enter your email{% endif %}</div></div>
			<div style="float: left; margin-top: 4px;"><input type="image" src="/media/images/btn_xpressCheckout.gif" value="Complete My Order" alt="Complete My Order" id="buy" onClick="submitForm(this.form);"/></div>
    	</div>

	    <div class="right" style="text-align: center; padding-left: 10px; padding-right: 10px; width: 330px; float: left; background: #DDEDCC">
	      <div style="height: 200px;">
	      	{% if request.user.is_authenticated %}
	        <h2>Already have an Account?</h3>
	        <p style="line-height: 1.4;">If you have purchased a {{ COMPANY_NAME }} before, you can sign in using your email address.</p>
	        <a href="{% url user-login %}"><img src="/media/images/signin-button.gif"></a>
	        {% else %}
	        	<h2>Hmm... you're not authenticated.</h2>
	        {% endif %}
	      </div>
	    </div>
	</div>
    
  </div>
</form>
{% endblock content %}

{% block sidebar %}
	{% include "sidebar/_got_a_gift_card.html" %}
	{% include "sidebar/_payment_questions.html" %}
{% endblock sidebar %}
