{% extends "base.html" %}
{% block extrascripts %}
    <script type="text/javascript" src="/media/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="/media/js/jquery.progressbar/js/jquery.progressbar.js"></script>
{% endblock %}

{% block extrajs %}
  $().ready(function()
  {
{% if not deal.is_on or deal.tipping_point %}
    $("#pb1").progressBar({{ deal.percentage_sold }});
{% endif %}
{% ifnotequal countdown_time -1 %}
    var doneDay = new Date({{ countdown_time }});
    $('div.buy-block div.txt').countdown({until: doneDay, onExpiry: liftOff, expiryText: '<p>This Deal</p><p>is</p><p><strong>OVER!</strong></p>', layout: '<p><strong>{hn}</strong> {hl}</p><p><strong>{mn}</strong> {ml}</p><p><strong>{sn}</strong> {sl}</p>'});
{% endifnotequal %}
  });
function liftOff() {
  $(".price").hide();
}
{% endblock extrajs %}

{% block content %}
<h1><span class="mark">Today's Deal:</span> {{ deal.title }}</h1>
<a href="#main-nav" class="accessibility">skip to main navigation</a>
<div class="asides">
	<div class="aside1">
		<div class="visual">
			<img alt="image description" src="{{ deal.image.url }}" width="438" height="291" />
		</div>
		<div class="fine-box">
			<div class="fb-holder">
				<div class="fb-block">
					<h2>The fine print</h2>
					{{ deal.fine_print }}
					<p><strong><a href="#">Read the deal FAQ</a></strong> for the basics</p>
				</div>
				<div class="fb-block">
					<h2>Main Highlights</h2>
					<ul>{{ deal.highlights|safe }}</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="buy">
		<div class="b-frame">
			<div class="price">
				<div class="frame">
					<a href="{% url deal-checkout deal.slug %}"><strong>${{ deal.deal_price|floatformat }}</strong> <span>Buy</span></a>
				</div>
			</div>
			<div class="details">
				<div class="details-holder">
					<dl>
						<dt>Value</dt>
						<dd><strong>${{ deal.retail_price|floatformat }}</strong></dd>
					</dl>
					<dl class="list2">
						<dt>Discount</dt>
						<dd><strong>{{ deal.discount_percentage|floatformat }}%</strong></dd>
					</dl>
					<dl class="list3">
						<dt>You save</dt>
						<dd><strong>${{ deal.discount_value|floatformat }}</strong></dd>
					</dl>
				</div>
			</div>
			<a class="buy-for-friend" href="#"><span><strong>Buy it for a Friend</strong></span></a>
			<div class="buy-block time">
				<h3>Time left to buy</h3>
				<div class="txt">
					{% ifequal countdown_time -1 %}SOLD OUT!!!{% endifequal %}
				</div>
			</div>
			<div class="buy-block">
				<div class="deal-txt">
					<h3>{{ deal.num_sold }} Bought</h3>
					{% if deal.is_deal_on %}
	  					<p>Tipped at {{ deal.tipped_at|time }} with {{ deal.tipping_point }} bought</p>
	  				{% else %}
	  					<div id="pb1"></div>
	  					<p>{{ deal.num_needed }} needed for the deal to go live!</p>
	  				{% endif %}
	  			</div>
	  			{% if deal.is_deal_on %}
	  			<div class="deal-state">
					<strong>The Deal in On</strong>
					<img alt="The Deal in On" src="/media/images/ico-deal-on.gif" width="38" height="38" />
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra-content %}
<div class="box box2">
	<div class="box-t"></div>
	<div class="box-c">
		<div class="content-area">
			<p>{{ deal.description|safe }}</p>
			<h2>Reviews</h2>
			<p>Ex. SomeBlog gives it 4.5 stars, Yelpers give it 3.5, and TripAdvisor gives it four owl eyes for stunning spa services: </p>
			<ul class="reviews-list">
				<li>
					<blockquote cite="#">
						<div>
							<q>I originally went there to get my hair done for a wedding, but was so pleased, went back for a massage. Very reasonably priced and the service was just great. Will be going back to check out other things on their menu.</q>
							<cite> - <a href="#">Linda and Michael</a></cite>
						</div>
					</blockquote>
				</li>
				<li>
					<blockquote cite="#">
						<div>
							<q>Good feel to the place. Nice staff. Took their time making you feel pampered.</q>
							<cite> - <a href="#">Sara</a></cite>
						</div>
					</blockquote>
				</li>
			</ul>
			<div class="world-street-heading">
				<h2 class="world-street">The world on the street:</h2>
				<img class="png" alt="image description" src="/media/images/img2.png" width="58" height="66" />
				<a class="logo2" href="#">MassiveCoupon.com</a>
			</div>
			<div class="world-txt">
				<div class="holder">
					<h3>~ Love is in the Spa Air ~</h3>
					<p>Ziggy really likes this place! </p>
				</div>
			</div>
		</div>
		<div class="aside2">
			<h2>The Company</h2>
			<ul class="company-list">
				<li>
					<strong class="title">{{ deal.myadvertiser.name }}</strong>
					<p><a href="#">{{ deal.advertiser.url }}</a></p>
					<address>{{ deal.advertiser.address }}<br />{{ deal.advertiser.city }}, {{ deal.advertiser.province }} {{ deal.advertiser.postalcode }}</address>
					<p><img src="http://maps.google.com/maps/api/staticmap?center={{ deal.latitude }},{{ deal.longitude }}&zoom=14&size=195x400&maptype=roadmap&markers=color:blue%7Clabel:1%7C{{ deal.latitude }},{{ deal.longitude }}&sensor=false"/></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="box-b"></div>
</div>
{% endblock %}
						
{% block sidebar %}
	{% include 'sidebar/_discuss.html' %}
	{% include 'sidebar/_share.html' %}
	{% include 'sidebar/_get_your_business.html' %}
	{% include 'sidebar/_how_it_works.html' %}
{% endblock sidebar %}
				