{% extends "base.html" %}

{% block content %}
<div id="subscribe-content">
    <h1><span class="mark">Welcome to {{ COMPANY_NAME }}!</span> {{ deal.title }}</h1>
    <div>
        <div id="subscribe-description">Each day, {{ COMPAN_NAME }} emails you one exclusive, unbeatable deal on the best things to do, see, eat, and buy in {{ city }}.</div>

        {% if form.errors %}
        <div class="error-box">
            <div class="title">There was a problem, please see the error messages below.</div>
            <div>Please correct fields marked with a red box.</div>
        </div>
        {% endif %}

        <div id="email-sub">
        <form class="emailsubform" id="id_emailsubform" method="POST">{% csrf_token %}
            <div class="signup">Sign up so you don't miss a MassiveCoupon, and get ready to experience {{ city }} City at 50% to 90% off!</div>
                <div class="field" id="email-field">
                    <label for="id_email">Email:</label>
                    <br>{{ form.email }}
                    <div class="error-msg">{% if form.errors.email %}Please enter your email{% endif %}</div>
                </div>
                <div class="field" id="city-field">
                    <label for="id_city">Choose your City:</label>
                    {{ form.city }}
                </div>
                <button type="submit" value="Subscribe" alt="Subscribe" id="subscribe">Subscribe</button>
        </form>
        </div>

        <div>Our daily deals consist of:
            <h3>Restaurants, Theatre, Spas, Classes, Sporting Events, Bars, Museums, Concerts, Gyms and a whole lot more... </h3>
        </div>

    </div>
</div>
{% endblock content %}