{% extends "base.html" %} 
{% block content %}

<h1>
	<span class="mark" style="color: #000;">Signup or <a href="{% url user-login %}">Login</a></span>
</h1>
{% if form.errors %}
<div class="error-box">
	<div class="title">There was a problem, please see the error messages below.</div>
	<div>{{ form.errors }}</div>
</div>
{% endif %}

<div>User signup coming soon!</div>
{% comment %}
<form class="loginform" id="id_loginform" method="POST">
	<div>
		<h2>Email</h2>
		<div class="field">
			{{ form.email }}
			<div class="error-msg">{% if form.errors.email %}{{ form.errors.email }}{% endif %}</div>
		</div>

		<h2>Password</h2>
		<div class="field">
			{{ form.password }}
			<div class="error-msg">{% if form.errors.password %}{{ form.errors.password }}{% endif %}</div>
		</div>

		<p>
			<input type="submit" value="Login" alt="Login"  />
		</p>
	</div>
</form>
{% endcomment %} {% endblock content %}
